.game-board {
  height: 500px;
  width: 500px;
  background: black;
  border-radius: 50%;
  position: relative;
  padding: 15px;
  border: 30px solid black;
}

.green-button {
  position: absolute;
  background: green;
  width: 250px;
  height: 250px;
  border-top-left-radius: 100%;
  left: 0;
  top: 0;
}

.red-button {
  position: absolute;
  background: red;
  width: 250px;
  height: 250px;
  border-top-right-radius: 100%;
  right: 0;
  top: 0;
}

.yellow-button {
  position: absolute;
  background: yellow;
  width: 250px;
  height: 250px;
  border-bottom-left-radius: 100%;
  left: 0;
  bottom: 0;
}

.blue-button {
  position: absolute;
  background: blue;
  width: 250px;
  height: 250px;
  border-bottom-right-radius: 100%;
  right: 0;
  bottom: 0;
}

.dashboard {
  height: 250px;
  width: 250px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
}

.white-bg {
  height: 230px;
  width: 230px;
  background: white;
  border-radius: 50%;
  left: 4%;
  top: 4%;
  position: absolute;
  text-align: center;
}

.game-name {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  font-size: 3em;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}
.on-off-switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* START OF SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.ml-5 {
  margin-left: 5px;
}

.text-uppercase {
  text-transform: uppercase;
}

.display-text {
  font-size: 14px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* END OF SWITCH */

.screen {
  background-color: #32050c;
  width: 100%;
  height: 100%;
}

.count-output {
  color: #dc0d29;
  font-size: 25px;
}

.screen-frame {
  border: 3px solid #222;
  border-radius: 5px;
  width: 50px;
  height: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.start-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.start-button-outline {
  background: #fc0102;
  border: 3px solid #222;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.strict-mode-button-outline {
  background: #ffff00;
  border: 3px solid #222;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.strict-mode-indicator {
  border: 1px solid #222;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-bottom: 5px;
}

.strict-mode-indicator-on {
  background: #fc0102;
}

.strict-mode-indicator-off {
  background: #32050c;
}

.strict-mode-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt-5 {
  margin-top: 5px;
}
